.header-container {
  h1 {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 50px;
    color: #2a2e35;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .logo {
    transform: scale(1.5);
  }
}
