body {
  padding: 30px 0;
  font-family: 'Poppins';
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 50px;
  color: #2a2e35;
  text-transform: uppercase;
}
.logo {
  transform: scale(1.5);
  margin-top: 10px;
}
